@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", "sans-serif";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
}

.btn {
  background-color: lightseagreen;
  border-radius: 25px;
  border: none;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  width: 250px;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
